/* Existing styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Add any body styles you need */
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex; /* Display as flex to organize navbar, main content, and sidebar */
  flex-direction: row;
  overflow: hidden; /* Hide overflow content */
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

/* Chat Interface Styles */
.chat-interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%; /* Use 100% width for the chat interface */
}

.messages-container {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 90vh; /* Set the height to 90% of the viewport height */
  width: 100%; /* Use 100% width for the messages container */
  overflow-y: auto;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 10px; /* Add padding for message container */
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%; /* Use 100% width for the input container */
}

.input-container > * {
  margin-right: 10px;
}

/* Sidebar Styles */
.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1; /* Initial width, adjust as needed */
  transition: flex-shrink 0.3s ease; /* Add a transition for smooth animation */
}

.collapsed {
  flex-shrink: 0; /* Collapsed width */
  /* Other styles for the collapsed state */
  width: 0;
}

/* Header Styles */
.header {
  padding: 10px; /* Add padding to create some space around the header */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Adjust alignment for header content */
}

.buttonContentLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* Content Styles */
.content {
  flex-grow: 1; /* Make the content section expand to fill available space */
  padding: 10px; /* Add padding to create some space around the content */
}

/* Footer Styles */
.footer {
  padding: 10px; /* Add padding to create some space around the footer */
}
